@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500);
body {
	background: crimson; 
	color:#C0C0C0;
}

.bg-color {
    background-color: crimson;
    color: whitesmoke;
}


.title-animation {
    animation: type 2s;
}

.text-animation {
    animation: typeing 3s;
}

@keyframes type {
    from {
        filter: blur(10px);
        transform: matrix(3, 0, 0, 3, 0, 0);
    }
}

@keyframes typeing {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }
}

.pagination {
    margin-top:3%;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:1em;
    font-family: 'Source Code Pro';
}
.pagination .page-item {
    display:inline-block;
    margin:0 0.5em;
}
.pagination .page-item .page-link {
    color: black;
    text-decoration:none;
    padding:0.5em;
    border:1px solid crimson;
    border-radius:5px;
    transition:all 0.3s ease-in-out;
}
.pagination .page-item .page-link:hover {
    background: black;
    color:#FFFFBE;
}

@media (max-width: 947px) {
    .pagination {
        justify-content: center;
        display: flex;
        margin-top:8%;
        font-size:1em;
        font-family: 'Source Code Pro';
    }
}